# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
QtStopwatch/.vs/QtStopwatch/v16/.suo
*.log
*.pro
*.ilk
*.pdb
*.tlog
*.txt
*.stash
*.props
*.idx
QtStopwatch/x64/Debug/moc/moc_QtStopwatch.cpp
QtStopwatch/x64/Debug/qmake/temp/Makefile
QtStopwatch/x64/Debug/rcc/qrc_QtStopwatch.cpp
QtStopwatch/x64/Debug/uic/ui_QtStopwatch.h
QtStopwatch/x64/Release/moc/moc_QtStopwatch.cpp
QtStopwatch/x64/Release/qmake/temp/Makefile
QtStopwatch/x64/Release/rcc/qrc_QtStopwatch.cpp
QtStopwatch/x64/Release/uic/ui_QtStopwatch.h
